:root{
     --background:#66ba79;
     --background:#52ed73;
    --background: #ff5722;
    --background-d1:#FFFFFF;
    --fonte-titulo: .playfair-display-montserrat;
    --fonte-corpo: sans-serif;
}
html{

font-size:16px;

}
p{

line-height:1.6;

}
h1,h2{

letter-spacing:1px;

}
h1{

text-shadow:2px 2px 5px rgba(0,0,0,.4);

}
body { font-family: var(--fonte-corpo); }
h1, h2, h3 { font-family: var(--fonte-titulo); }
*{
box-sizing:border-box;
}
#body{
    background-color: #FFFFFF;
    margin-top: 100px;
}
.bar{
    display: inline-block;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    z-index: 1;
}
.op1,.op2,.op3,.op4,.op5,.op6{
    display: inline-block;
    width: 80px;
    height: 35px;
    position: absolute;
    top: 50px;
    background-color: #ff5722;
    border-radius: 10px 10px 10px 10px;
}
.op1{
    left: 10px;
}
.op2{
    left: 110px;
}
.op3{
    left: 210px;
}
.op4{
    left: 310px;
}
.op5{
    left: 410px;
}
.op6{
    left: 510px;
}
button{
    background-color: #66ba79;
    border: hidden;
    color: white;
}
.d1 p,
.d2 p,
.d3 p,
.d4 p,
.d5 p{
    color:rgb(255, 255, 255);
}
.d1 a,
.d2 a,
.d3 a,
.d4 a,
.d5 a{
    color:#52ed73;
    font-weight:bold;
}
.d1,.d2,.d3,.d4,.d5{
   display:flex;
    width:1000px;
    min-height:100px;
    padding:20px;

    background-color:rgb(0, 0, 0);

    border-radius:0 35px 35px 35px;

    box-shadow:0 4px 12px rgba(0,0,0,.4);

    transition:.3s;
}
.d1:hover,
.d2:hover,
.d3:hover,
.d4:hover,
.d5:hover{
    transform:translateY(-6px);
    box-shadow:0 8px 20px rgba(0,0,0,.5);
}
table{
    width:100%;
    border-collapse:collapse;
}

th,
td{
    border:1px solid #FFFFFF;
    padding:10px;
}

th{
    background-color:#ff5722;
}

tr:nth-child(even){
    background-color:#52ed73;
}

tr:nth-child(odd){
    background-color:#66ba79;
}
a{
    color: rgb(0, 0, 0);
}
a{
    text-decoration:none;
    transition:.2s;
}

a:hover{
    text-decoration:underline;
}
ul,li,ol,h2,table,tr{
    color: rgb(0, 0, 0);
}
th,td{
    color: #FFFFFF;
}
.footer{
    background-color: #ff5722;
    color: #FFFFFF;
    display: inline-block;
    width: 100%;
    min-height: fit-content;
}
a[target="_blank"]::after{
    content:" ↗";
}